@tailwind base;
@tailwind components;

@layer components {
  /* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
  .loader {
    width: 45px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(rgb(51 65 85) 0 0);
    background:
      var(--c) 0% 50%,
      var(--c) 50% 50%,
      var(--c) 100% 50%;
    background-size: 20% 50%;
    animation: loading 1s infinite linear;
  }
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  @apply border-2 border-solid border-gray-400 bg-gray-100;
}

.leaflet-popup-content-wrapper > * {
  @apply w-40 text-nowrap text-center font-sans;
}

@tailwind utilities;
